<% if (typeof erro !== 'undefined' && erro) { %>
<div class="alert error"><%= erro %></div>
<% } %> <% if (typeof sucesso !== 'undefined' && sucesso) { %>
<div class="alert success"><%= sucesso %></div>
<% } %>
